body {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 2rem;
	margin: 2rem;
}

.flex-container {
	@include container;
}

.flex-element {
	width: 150px;
	padding: 0.5rem;
	font-size: 2.8rem;
	line-height: 3.4rem;
	text-align: center;
	color: $white-color;
}

.red {
	background: $red-color;
}
.yellow {
	background: $yellow-color;
}
.green {
	background: $green-color;
}
.blue {
	background: $blue-color;
}
.violet {
	background: $violet-color;
}