html {
	font-size: 10px;
}
body {
	font-family: 'Open Sans';
	font-weight: 400;
	font-size: 2rem;
}

.container {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;

	@media screen and (min-width: 1440px) {
		max-width: 1630px;
	}
}

.btn {
	padding: 15px 25px;
	text-transform: uppercase;
	border-radius: 50px;
	cursor: pointer;
	transition: .2s ease;

	&--primary {
		background: darkblue;
		color: #fff;
		&:hover {
			background: rgb(1, 1, 121);
		}
	}

	&--secondary {
		background: darkgreen;
		color: #fff;
		&:hover {
			background: rgb(1, 82, 1);
		}
	}
}

.input {
}

.input-group {
	padding: 10px 0 20px;
	position: relative;

	&.last-child {
		margin-bottom: 20px;
	}

	&__label {
		font-size: 2rem;
		font-weight: 600;
		display: block;
		margin-bottom: 5px;
		margin: 0 0 10px 10px;
		text-align: left;
	}

	&__input {
		width: 100%;
		padding: 10px 20px;
		border: 0;
		outline: 0;
		box-shadow: 0 0 0 1px darkblue;
		color: rgb(3, 1, 39);
		font-size: 1.8rem;
		border-radius: 40px;

		&:focus {
			box-shadow: 0 0 0 2px rgb(1, 1, 94);
		}

		&--error {
			box-shadow: 0 0 0 2px rgb(161, 0, 0);
			&:focus {
				box-shadow: 0 0 0 2px rgb(161, 0, 0);
			}
		}
	}
	
	&__error {
		position: absolute;
		font-size: 1.2rem;
		color: rgb(161, 0, 0);
		bottom: 0;
		left: 10px;
	}
}
